<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Lets make some comments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/bower_components/rangy/rangy-core.js"></script>
    <script src="/bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="/bower_components/rangy/rangy-serializer.js"></script>
    <script src="/bower_components/rangy/rangy-highlighter.js"></script>
    <script src="/bower_components/rangy/rangy-classapplier.js"></script>
    <script src="https://oss.maxcdn.com/angularjs/1.4.0/angular.js"></script>
    <script src="/moment.js"></script>

    <style>
    .highlight {
      background-color: yellow;
    }
    body { 
      padding-top: 60px;
    }
    .comment {
      cursor: pointer;
    }
    .ts {
      font-size: 11px;
    }
    div#comments {
      visibility:hidden;
      opacity:0;
      transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    }
    div#comments:target {
      visibility:visible;
      opacity:1;
      transition-delay:0s;
    }
    </style>
    
    <script>
    
    var debugMode = true;
    var app = angular.module('app', []);
    
    var debugLog = function (msg) {
      if ( debugMode ) {
        console.log(moment().format() + ' ' + msg)
      }
    }

    app.controller('MainCtrl', function ($scope) {
      $scope.comments = [];
      
      $scope.clearHighlight = function () {
        highlighter.removeAllHighlights();
      }
      $scope.commentsCount = function () {
        return $scope.comments.length()
      }
      
      $scope.saveComments = function () {
        json = JSON.stringify($scope.comments);
        localStorage.comments = json;
      }
      
      $scope.loadComments = function () {
        debugLog('Trying to load comments');
        if ( localStorage.comments ) {
          $scope.comments = JSON.parse(localStorage.comments);
          debugLog('Loaded comments:');
          console.log($scope.comments);
        }
      }
      
      $scope.deleteAllComments = function () {
        localStorage.removeItem('comments');
        $scope.comments = [];
        highlighter.removeAllHighlights();
      }
      
      $scope.addComment = function () {
        if ( $scope.commentMsg ) {
          console.log($scope.commentMsg);
          comment = { msg: $scope.commentMsg, range: serializedRange, ts: (new Date).getTime(), datetime: moment().format('lll') }
          $scope.comments.push(comment);
          $scope.saveComments();
          console.log($scope.comments);
          $scope.commentMsg = null;
        }
      }
      
      $scope.showComment = function (comment) {
        highlighter.removeAllHighlights();
        range = rangy.deserializeRange(comment.range);
        range.select();
        highlighter.highlightSelection("highlight");
        window.getSelection().removeAllRanges();
        console.log(range);
      }
    });
    
    $( document ).ready(function() {
      rangy.init();
      
      highlighter = rangy.createHighlighter();

      highlighter.addClassApplier(rangy.createClassApplier("highlight", {
          ignoreWhiteSpace: true,
          tagNames: ["span", "a"]
      }));
      
      $("[data-toggle=tooltip]").tooltip();
      
      $('#comment-box-msg').keydown(function(e) {
        if (e.keyCode == 13 ) {
          $('#comment-submit').trigger('click');          
        }
      });
      
      $('[data-toggle="popover"]').popover();
      $("p").mouseup(function(e){
        if ( rangy.getSelection().toString() != "" ) {
          serializedRange = rangy.serializeRange(rangy.getSelection()._ranges[0], true);
          highlighter.highlightSelection("highlight");
          var left = e.pageX;
          var top = e.pageY;
          var theHeight = $('.popover').height();
          $('.popover').show();
          $('.popover').css('left', (left+10) + 'px');
          $('.popover').css('top', (top-(theHeight/2)-10) + 'px');
        }
      })
    });
    
    var serializedRange = null;
    
    function closeCommentBox() {
      highlighter.removeAllHighlights();
      $('#comment-box').hide();
      $('#comment-box-msg').val('');
    }    
    </script>
  </head>
  <body ng-controller="MainCtrl" ng-init="loadComments()">
    <div id="comment-box" class="popover">
      <div class="input-group">
        <input class="form-control" id="comment-box-msg" ng-model="commentMsg" type="text" placeholder="Leave a comment..." required/>
        <span class="input-group-btn">
          <button id="comment-submit" class="btn btn-default" ng-click="addComment()" onclick="closeCommentBox()">
            <i class="glyphicon glyphicon-comment"></i>
          </button>
        </span>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 jumbotron">        
          <p id='lorem-ipsum'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
          </p>
        </div>                
        <div class="col-sm-2">
          <p>
            <a href="#comments" data-toggle="tooltip" title="Show Comments"><i class="glyphicon glyphicon-comment"></i> {{ comments.length }}</a>
          </p>
          <div id="comments" class="comments">
            <a href="#" ng-click="clearHighlight()"><i id="close-comments" class="glyphicon glyphicon-remove-sign pull-right" data-toggle="tooltip" title="Hide Comments"></i></a><br/>
            <div ng-repeat="comment in comments | orderBy:'-ts' track by $index">
              <div class="row comment" data-toggle="tooltip" title="Click to show highlighted text" ng-click="showComment(comment)">
                <div class="col-sm-2"><i class="glyphicon glyphicon-user"></i></div>
                <div class="col-sm-10">
                  {{ comment.msg }}
                </div>
              </div>
              <span class="ts">{{ comment.datetime }}</span>
            </div>
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">        
          <button class="btn btn-large btn-danger" ng-click="deleteAllComments()"><i class="glyphicon glyphicon-remove-sign"></i> Delete All Comments</button>
        </div>
      </div>
    </div>    
  </body>
</html>
